{% extends 'basic.html' %}

{% block content %}

<style>
    pre{
        color: blueviolet;
    }
	.inline-label{
		display: grid;
	}
</style>

<div id="content" class="p-4 p-md-5 pt-5">

	<h2 class="mb-4">Delete a record from the database.</h2>
	<table class="table">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Route</th>
			<th scope="col">Method</th>
			<th scope="col">Sample JSON</th>
			<th scope="col">Result</th>
		  </tr>
		</thead>
		<tbody>
			<th scope="row">1</th>
			<td>api/employee/{id}</td>
            <td> DELETE </td>
			<td> ----- </td>
			<td rowspan="3"><pre>
{
    "age": 40,
    "designation": "Something",
    "id": 4,
    "name": "Smith",
    "sallary": 160000.0,
    "yow": 12
}
        </pre>
        </td>
		  </tr>
		  <tr>
			<td>
				<form method="post">
					{{form.hidden_tag()}}
					<div>{{form.id.label(class = "inline-label")}}{{form.id}}</div>
					<div>{{form.submit(class = "btn btn-primary mt-3 mb-1")}}</div>
				</form>
			</td>
			<td colspan="3">
				<H6>This can either be done by filling this form on the front end or just sending a <b>DELETE</b> request to <b>LocalHost URL/api/empoyee/{id}</b></H6>
			</td>
		  </tr>
		</tbody>
	  </table>
	  
</div>
</div>

{% endblock %}