{% extends 'basic.html' %}

{% block content %}
<style>
	pre {
		color: blueviolet;
	}

	.inline-label {
		display: grid;
	}
</style>
<div id="content" class="p-4 p-md-5 pt-5">

	<h2 class="mb-4">Update a record in the database.</h2>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Route</th>
				<th scope="col">Method</th>
				<th scope="col">Sample JSON</th>
				<th scope="col">Result</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>api/employee/{id}</td>
				<td>PUT</td>
				<td colspam=3>
					<pre>
{
    "name":"Smith2",
    "age":40,
    "sallary":"160000.00",
    "designation":"Something",
    "yow":"12"
}

</pre>

				</td>
				<td rowspan=3>

					<pre>
{
    "age": 40,
    "designation": "Something",
    "name": "Smith2",
    "sallary": 160000.0,
    "yow": 12
}

</pre>

				</td>
			</tr>
			<tr>
				<td>
					<div class="form-controls">
						<form method="post" class="block">

							<div>{{form.hidden_tag()}}</div>
							<div>{{form.id.label(class = "inline-label")}}{{form.id}}</div>
							<div>{{form.name.label(class = "inline-label")}}{{form.name}}</div>
							<div>{{form.age.label(class = "inline-label")}}{{form.age}}</div>
							<div>{{form.designation.label(class = "inline-label")}}{{form.designation}}</div>
							<div>{{form.sallary.label(class = "inline-label")}}{{form.sallary}}</div>
							<div>{{form.yearsofwork.label(class = "inline-label")}}{{form.yearsofwork}}</div>
							<div>{{form.submit(class = "btn btn-primary mt-3 mb-1")}}</div>

						</form>
					</div>
				</td>
				<td colspan="4">
					<p>
                        One way tupdate the data of an employee in the database is to fill a form on the from end such as this, which will write the data into a locally hosted sqlite database  
                    </p>
                    <p>
                        Another way is to send a post request to the given path with the information as a <strong>JSON Payload</strong>
                    </p>
				</td>
			</tr>
		</tbody>
	</table>

</div>
</div>

{% endblock %}